**string can be written in single quote or double quote**

In [2]:
my_string_1 = "hello"
my_string_2 = 'hello'

print(my_string_1)
print(my_string_2)

hello
hello

**write quote in string without using escape character**

In [7]:
my_string_3 = "hello 'this is quote' "
print(my_string_3)
# or
my_string_3 = 'hello "this is quote"'
print(my_string_3)

hello 'this is quote'
hello "this is quote"

**use triple double quotes or triple single quotes to write
multiple line string**
* triple or double quotes escape the inside characters

In [10]:
triple = """hello
this
is 
multi"""


print(triple)

hello
this
is
multi

# string indexing and slicing

* all data in python are object
* object contain elements
* every element has its own index
* python use zero based index ( index start from zero)
* use square brackets to access the elements
* indexing enables accessing parts of strings , Tuples or lists

# indexing
### access single element

In [12]:
my_string = "I love Python"
print(my_string[0]) # index 0 ==> I
print(my_string[9]) # index 9 == > t

I
t

in python we can use negative indexing to access elements from end to beginning

In [16]:
my_new_string = " I LOVE PROGRAMMING"

print(my_new_string[-1])  # index -1 ==> first character from the end

G

# Slicing

**access multiple sequence elements**

syntax:

string[start:end:step]   however End isn't included

In [19]:
print(my_new_string[0:10])   # end isn't included

 I LOVE PR

In [21]:
print(my_new_string[0:-1:2])

  OEPORMI

In [23]:
print(my_new_string[:10]) # if start not specified it will start from zero

 I LOVE PR

In [25]:
print(my_new_string[2:]) # will print from start to end

 LOVE PROGRAMMING

In [27]:
print(my_new_string[::2]) # will print from start to end with step of 2

  OEPORMIG

In [30]:
print(my_new_string[::-2]) # from end to start with step of 2

GIMROPEO

# string methods

##  1 - len() function ==> return the length of the elements

In [2]:
a = "hello python"
print(len(a))

12

## 2- strip()  ==   rstrip()    ==  lstrip()

* the three functions are the same but :

* strip()  ==> remove spaces from right and left
* rstrip() ==> remove space from right
* lstrip() ==> remove spaces from left

In [7]:
a = "    i love python    "   # with spaces right and left
print(a.strip())   # it will remove the spaces right and left
a = "    i love python    "   # with spaces right and left
print(a.rstrip())  # removes spaces from right only
print(a.lstrip()) # removes spaces from left only and leave the right
print(len(a.rstrip()))  # to count elements including spaces

i love python
    i love python
i love python
17

In [10]:
# if we used character in the parenthesis it will remove it 
# instead of white space
# example
a = "###i love python###"

print(a.strip('#')) # it removes the character given

i love python

In [12]:
b = "@#i love python@#"
print(b.strip('@#'))

i love python

## 3- title()

it makes the first letter of every word capital and letters

after numbers are capital

In [14]:
#example

a = "i love python"

print(a.title())

I Love Python

In [16]:
# another example:
c = " i love 2d graphics and 3g tech "

print(c.title())

 I Love 2D Graphics And 3G Tech

## 4- capitalize()

the same like title except for letters after numbers won't be capitalized
and it only capitalize the first letter only

In [21]:
#example
v = "i love 3g technology"
print(v.capitalize())

I love 3g technology

## 5- zfill()   ==> it adds zeros before the number

In [72]:
a = "1"
b = "11"
c = "111"

print(a.zfill(3)) # take argument width 
                        # the number itself is included in width
                        # fill width with zeros
print(b.zfill(3))

001
011

## 6- upper() ==> convert the string to uppercase

In [28]:
# example

a = "mohammed"

print(a.upper())

MOHAMMED

## 7- lower() ==> convert string to lower case

In [30]:
answer = "YES"
print(answer.lower())

yes

## 8- split() ==> split the string at certain given position
       - splitting by spaces is the default

In [32]:
# example
i = "i love python and php"
print(i.split())

['i', 'love', 'python', 'and', 'php']

In [43]:
ix = "i-love-python-and-php"
print(i.split('-'))  # separator writing in literal string
print(i.split(sep='-', maxsplit= 2)) # split the number of given splits 
                                    # and the rest are in one index

['i', 'love', 'python', 'and', 'php']
['i', 'love', 'python-and-php']

In [45]:
# rsplit()  ==> split with the given split parameter but from the right

io = "i-love-python-and-php-and-sql"
print(io.rsplit('-', 3))

['i-love-python-and', 'php', 'and', 'sql']

## 9- center() ===> center(number of returned characters, character given to fill)
- by default the character to be given is space

In [53]:
#example

name = "mohammed"
print(name.center(10))  # the default char here is space
print(name.center(18, '*'))

 mohammed
*****mohammed*****

## 10- count() ==> return the count of given chars
-- it takes the chars or word to count and optional the start and end position

-- count("word or char", start_index, end_index)

In [63]:
ex = "i love islam"
print(ex.count(' '))   # here i counted the number of spaces
print(ex.count('a'))   # here i counted the number of letter a
print(ex.count("love"))  # you can also count words
print(ex.count("love", 0, 2))  # you can also count words

2
1
1
0

## 11- swapcase() ==> return the small letters into capital and vice versa

In [65]:
#example
o = " i LOVE PYTHON"
print(o.swapcase())

 I love python

## 12-startswith() ==> use if you want if certain word is start 
## with certain char

**startswith("char", start, end)**

In [69]:
b = "mohammed loves python"

print(b.startswith("mohammed"))

True

## 13-endswith() ==> the same like start with but from the end

In [71]:
xo = " hello world we have a lot of things"
print(xo.endswith("s"))

True

## 14- index('',start,end)

**return the index of the given char**
gives error if the substring is not found

In [77]:
xx = "i love python"
print(xx.index('p')) # letter is in index 7
print(xx.index('p', 0, 8)) # letter is in index 7
print(xx.index('p', 0, 6)) # error substring not found

7
7

ValueError: substring not found

## 15- find('')

**the difference between it and index() is that it return -1 if not found**

In [81]:
bb = " hello world"

print(bb.find("w"))
print(bb.find("w",0, 10))
print(bb.find("w",0, 4))

7
7
-1

## 16- rjust(width,fill_char)
##     ljust(width,fill_char)

In [88]:
my_name = "mohammed"

print(my_name.rjust(10,"#"))
print(my_name.rjust(20))
print(my_name.ljust(10,'*'))

##mohammed
            mohammed
mohammed**

## 17- splitlines() ==> return a list containing lines

In [93]:
aa = """space
space
first line
second line
third line
space
"""

print(aa.splitlines())

['space', 'space', 'first line', 'second line', 'third line', 'space']

In [98]:
bbb = "first line\nsecond line\n third line"
print(bbb.splitlines())

['first line', 'second line', ' third line']

## 18- expandtabs() ==>  change the number of tabs

In [12]:
exam = "hello\tthis\tis\texample"

print(exam.expandtabs(tabsize=8))
print(exam.expandtabs(20))

hello   this    is      example
hello               this                is                  example

## 19- is...() function
**to check if some function is true or not**

In [23]:
one = "I Love Python And 3G"
two = "i Love Python and 3G"

three = "hello this is me"
four = " "
five = ""

six = "osama_elzero"
seven = "osama_elzero100"
eight = "osama--elzero"


print(one.istitle())
print(two.istitle())
print(three.islower())
print(four.isspace())
print(five.isspace())

print(six.isidentifier())
print(seven.isidentifier())
print(eight.isidentifier())

True
False
True
True
False
True
True
False

In [26]:
x = "aaaaaAAA"
y = "aaaaaAAA22"

print(x.isalpha())
print(y.isalpha())

True
False

In [28]:
u = "aaaaaAAA"
z = "aaaaaAAA22"

print(u.isalnum())
print(z.isalnum())

True
True

# 20- replace(new_value,old_value,count)

In [43]:
old = " hello one two three one one"
print(old.replace("one","hundred"))
print(old.replace("one","1", 2))

 hello hundred two three hundred hundred
 hello 1 two three 1 one

### 21- join(iterable)

iterable like list or tuple

In [50]:
my_name = ["mohammed","Hossam","Mohammed"]

print(" ".join(my_name))
# we place the separator first which is space or dash or 
#whatever then .join(list or tuple or whatever iterable)
print("-".join(my_name))

mohammed Hossam Mohammed
mohammed-Hossam-Mohammed