# format

## old way 
* using format specifier like in C lang

**print("string to be printed %s %d %f" % (fist_var, second_var, third_var))**

In [3]:
#example

name = "mohammed"
age = 32
birth_year = 1992

print("my name is :" + name)
print("my name is :" + name + " and my age is " + age) # error 
                                # because we can't concatenate int to string

my name is :mohammed

TypeError: can only concatenate str (not "int") to str

In [9]:

name = "mohammed"
age = 32
birth_year = 1992

print("my name is %s" % name)
print("my name is %s and my age is %d and birth year is %d"
       % (name, age, birth_year))

my name is mohammed
my name is mohammed and my age is 32 and birth year is 1992

In [10]:
#  %s ==> string
#  %d ==> integer
#  %f ==> float

* control floating point

In [13]:
name = "ahmed"
degree = 99.956546

print("his name is %s and his degree is %.2f" %(name, degree)) 
# the number after point is the number of numbers after floating point to print

his name is ahmed and his degree is 99.96

* Truncate string

In [14]:
lone_string = " hello everybody all around the world and hello mr osama"

print("short message is %.6s" % lone_string) # print number of letters after 
                                            # the floating point

short message is  hello

# formatting new_way

* **.format() method**

In [20]:
name = "mohammed"
age = 32
birth_year = 1992

print("my name is %s" % name)  # old way
print("my name is {}".format(name))   # new_way

print("my name is %s and my age is %d and birth year is %d"
       % (name, age, birth_year))    # old_WAy
print("my name is {} and my age is {} and birth year is {}"
       .format(name, age, birth_year))

my name is mohammed
my name is mohammed
my name is mohammed and my age is 32 and birth year is 1992
my name is mohammed and my age is 32 and birth year is 1992

In [22]:
name = "ahmed"
degree = 99.956546

print("his name is %s and his degree is %.2f" %(name, degree))  # old way
print("his name is {:s} and his degree is {:.2f}".format(name, degree))#new way

his name is ahmed and his degree is 99.96
his name is ahmed and his degree is 99.96

In [24]:
# truncate in new way

lone_string = " hello everybody all around the world and hello mr"

print("short message is {:.6s}".format(lone_string)) # print number of letters 
                                                    # after the floating point

short message is  hello

In [32]:
# formatting numbers like money
# 
my_money = 52562158545

print("my money is : {}".format(my_money))
print("my money is : {:_}".format(my_money))
print("my money is : {:_d}".format(my_money))
print("my money is : {:,d}".format(my_money))

my money is : 52562158545
my money is : 52_562_158_545
my money is : 52_562_158_545
my money is : 52,562,158,545

In [36]:
# rearrange items using their index in .format() ==> .format(index_1,index_2)

a, b, c = "one", "two", "three"
print("hello {} {} {}".format(a,b,c))
print("hello {2} {1} {0}".format(a,b,c))
print("hello {1} {2} {0}".format(a,b,c))

hello one two three
hello three two one
hello two three one

In [42]:
# using arranging for numbers

x, y, z = 10, 20, 30

print("numbers are {} {} {}".format(x,y,z))
print("numbers are {2} {1} {0}".format(x,y,z))
print("numbers are {1:d} {2:d} {0:.2f}".format(x,y,z))

numbers are 10 20 30
numbers are 30 20 10
numbers are 20 30 10.00

# format in version 3.6+

In [45]:
# using f-string format
my_name = "mohammed"
my_age = 32

print(f"my name is {my_name} and my_age is {my_age}")

my name is mohammed and my_age is 32