# tuple

* 1- Tuple items are enclosed in parenthesis ()
* 2- You can remove parenthesis if you want
* 3- Tuples are ordered items, You can use index to access them
* 4- Tuples are immutable you can't edit
* 5- tuple items are not unique
* 6- Tuple can have different data types
* 7- Tuple with one element .
   
     -- you place a comma after the element

In [3]:
Tuple_1 = ("ahmed", "mona")
# tuple example with removing parenthesis
Tuple_2 = "ahmed", "mona", "eman"

print(Tuple_1)
print(Tuple_2)

print(type(Tuple_1))
print(type(Tuple_2))

('ahmed', 'mona')
('ahmed', 'mona', 'eman')
<class 'tuple'>
<class 'tuple'>

In [7]:
Tuple_3 = (1, 2, 6, 7, 8, 9, 10)

print(Tuple_3[3]) # access element in tuple
print(Tuple_3[-1]) # access element in tuple

7
10

In [10]:
# Tuple example with one element

# wrong way
_tuple = ("Ahmed")

print(_tuple)
print(type(_tuple))

# right way
# by placing a comma after the first element
 
_new_tuple = ("ahmed",) 
print(_new_tuple)
print(type(_new_tuple))

Ahmed
<class 'str'>
('ahmed',)
<class 'tuple'>

## Tuple concatenation

In [15]:
a = (1, 2, 3, 4) 
b= (6, 7, 8)
d = a + ("a", "b") + b

c = a + b
print(c)
print(d)

(1, 2, 3, 4, 6, 7, 8)
(1, 2, 3, 4, 'a', 'b', 6, 7, 8)

## tuple, list and string repeat

In [19]:
my_string = "osama "
my_tuple = ("A", "B", "C")
my_list = [1, 2, 5, 10]



print(my_string * 6)
print(my_tuple * 6)
print(my_list * 6)

osama osama osama osama osama osama
('A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C')
[1, 2, 5, 10, 1, 2, 5, 10, 1, 2, 5, 10, 1, 2, 5, 10, 1, 2, 5, 10, 1, 2, 5, 10]

# MEthods

* 1- count()

In [24]:
_a_tuple = (1, 3, 2, 3, 5, 4, 3)

print(_a_tuple.count(3)) # return how many number 3 is  repeated
print(_a_tuple.count(2)) # return how many number 3 is  repeated

3
1

* 2- index()

In [26]:
_a_tuple = (1, 3, 2, 3, 5, 4, 3)

print(_a_tuple.index(5))

4

## Tuple DESTRUCT

In [30]:
a = ("A", "B", "C", 5, 6)
x,y,z, _ , v= a

# _ underscore sign means ignore this variable 
print(x)
print(y)
print(z)
print(v)

A
B
C
6