# set

* 1- set items are enclosed in curly braces
* 2- set items not ordered and not indexed
* 3- set indexing and slicing can not be done
* 4- set has only immutable data type(numbers, strings, Tuples)
   
   -- Lists and Dict Are not
* 5- set items are unique

In [46]:
my_set_one = {"ahmed", "mona", 100, 200}
print(my_set_one)

{'ahmed', 100, 'mona', 200}

In [2]:
# example for set unique

my_set_two = {1, 2, 3, 1, 5, 3, 6, 3}
print(my_set_two)

{1, 2, 3, 5, 6}

## SET methods

* 1- .clear()

In [7]:
#example

my_set_three = {1, 2, 3, 1, 5, 3, 6, 3}
my_set_three.clear()  ## ==> clear all elements in set
print(my_set_three)

set()

* 2- .union()

In [140]:
#example
my_set_three = {1, 2, 3, 4}
my_set_four = {5, 6, 7}
my_set_five = {8, 9, 10}
print(my_set_three.union(my_set_four)) # .union()
print(my_set_three.union(my_set_four, my_set_five)) # .union()
print(my_set_three | my_set_four | my_set_five)  # another way
print(my_set_three)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4}

* 3- .add()

In [23]:
a = {1, "a", "b"}
a.add(6)   # take only one argument
a.add(7)
print(a)

{1, 'b', 6, 7, 'a'}

* 4- .copy()

In [27]:
v = {1, 2, 3, 4, 5, 6, 7}
x = v.copy()    # shallow copy
print(x)

{1, 2, 3, 4, 5, 6, 7}

* 5- .remove()

In [29]:
g = {1, 2, 3, 4, 5, 6, 7}
g.remove(7)
print(g)
g.remove(8) # the element isn't inside the set so remove method raise error
print(g)

{1, 2, 3, 4, 5, 6}

KeyError: 8

* 6- .discard()   ==> the same like .remove()  but 

-- if the element is not in the SET it doesn't raise an error

In [124]:
# example

m = {1, 2, 3, 4, 5, 6, 7}
m.discard(7)
print(m)
m.discard(8) # the element isn't inside the set however no Errors raised
print(m)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

* 7- .pop()
 ==> removes a random element from the SET

In [141]:
#EXample

test = {"ahmed", 1, True, False, "osama", "Ebraheem"}
test.pop()    # removed a random element from the SET

False

* 8- .update() ==> the same like .union() except for it update the SET itself

In [144]:
# example

k = {1, 2, 3, 4}
l = {1, 5, 6, 7}

k.update(l)   # it updates the k SET and remove the occurrence of elements 
print(k)     
k.update(["hello", "set", "new"]) # ==> you can also update with a list
print(k)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 'hello', 'new', 'set'}

* 9- .difference()       ==> tells which elements present in first Set and not in others

In [1]:
a = {1, 2, 3, 4, 5}
b = {1, 2, "osama", 4, "Ahmed"}
print(a)
print(a.difference(b))    # a - b
print("=" * 10)
print(a - b)    # a - b

{1, 2, 3, 4, 5}
{3, 5}
==========
{3, 5}

* 10- difference_update() ==> it get the difference and update the 

original SET with the new value

In [3]:
xx = {1, 2, 3, 4, 5}
yy = {1, 2, "osama", 4, "Ahmed"}
print(xx)
xx.difference_update(yy) # a - b and update xx 
print(xx)

{1, 2, 3, 4, 5}
{3, 5}

* 11- .itersection()  ==> elements present in first SET and other SETS

In [6]:
zz = {1, 2, 3, 4, 5}
z = {1, 2, "osama", 4, "Ahmed"}
print(zz)
print(zz.intersection(z)) # a & b
print(zz)

{1, 2, 3, 4, 5}
{1, 2, 4}
{1, 2, 3, 4, 5}

* 12- .intersection_update() ==> the same like previous except for

it updates the original SET

In [10]:
yyy = {1, 2, 3, 4, 5, 6, 7, 8, 10}
Y = {1, 2, "osama", 4, "Ahmed"}
print(yyy)
yyy.intersection_update(Y)  # get the similar elements 
                           # and update the original SET
print(yyy)

{1, 2, 3, 4, 5, 6, 7, 8, 10}
{1, 2, 4}

* 13- .symmetric_difference() ==> elements that doesn't exist in both at the same time in other words element present in one SET but not in the other SET

In [12]:
i = {1, 2, 4, 5, 6, 7, 8, 9, 10}
q = {1,2, 7, 4, 3, 5, 8, 7, 10}

print(i)
print(i.symmetric_difference(q))    # i ^ q
print(i)

{1, 2, 4, 5, 6, 7, 8, 9, 10}
{3, 6, 9}
{1, 2, 4, 5, 6, 7, 8, 9, 10}

* 14- .symmertic_update() ==> the same like previous except for it 

update the original SET with the new Value/s

In [17]:
k = {1, 2, 4, 5, 6, 7, 8, 9, 10}
L = {1,2, 7, 4, 3, 5, 8, 7, 10}

print(k)
k.symmetric_difference_update(L)    # i ^ q
print(k)

{1, 2, 4, 5, 6, 7, 8, 9, 10}
{3, 6, 9}

* 15- .issuperset() ==> checks if the whole elements in the 

second set present in the original SeT

In [21]:
ii = {1, 2, 3, 4}
xy = {1, 2, 3}
yx = {1, 2, 3, 4, 5}

print(ii.issuperset(xy))
print(ii.issuperset(yx))

True
False

* 16- .issubset() ==> check if the whole elements in original set 

are in the given SET

In [24]:
b = {1, 2, 3, 4}
n = {1, 2, 3}
m = {1, 2, 3, 4, 5}

print(b.issubset(n))
print(b.issubset(m))

False
True

* 17- .isdisjoint() ==> in other word |> does both have similarities in numbers

In [25]:
t = {1, 2, 3, 4}
u = {1, 2, 3}
o = {10, 11, 12, 15}

print(t.isdisjoint(u))
print(t.isdisjoint(o))

False
True