# built-in functions

## part 1

* 1- all()

return true if all elements in iterator all true

In [7]:
x= [1,2,3,4,5,6]
y= [1,2,3,4,5,6,[]]

print(all(x))
print("--" * 20)
print(all(y))
print("--" * 20)
if all(x):
    print("all elements are true")
else:
    print("there is at least one false element")
print("--" * 20)
if all(y):
    print("all elements are true")
else:
    print("there is at least one false element")

True
----------------------------------------
False
----------------------------------------
all elements are true
----------------------------------------
there is at least one false element

* 2- any()

return true if any one of the elements is True

In [13]:
m= [1,2,3,4,5,6]
n= [1,2,3,4,5,6,[]]
z= [False,[]]

print(any(m))
print("--" * 20)
print(any(n))
print("--" * 20)
print(any(z)) # return false cause all elements are false
print("--" * 20)

if any(m):
    print("there is at least one True elements")
else:
    print("there is no any True Element")
print("--" * 20)
if any(n):
    print("there is at least one True element")
else:
    print("there is no any True Element")

True
----------------------------------------
True
----------------------------------------
False
----------------------------------------
there is at least one True elements
----------------------------------------
there is at least one True element

* 3- bin()

return the binary number of an integer

In [14]:
bin(15)

'0b1111'

 * 4-id()

 **return the identity of an object**
 
 **python use the memory address**

In [15]:
a = 11
b = 5

print(id(a))
print(id(b))

140725517601528
140725517601336

## part 2

* 5- sum(iterable, start ==> optional)

return the sum of iterable elements

In [18]:
a = [10,20,30,40]
print(sum(a))
print(sum(a,15)) # it will start form 10 and add it to the sum

100
115

* 6- round(number, number of digits to appear after floating point)

it rounds the number to the nearest possible larger

if digits after float point will be considered it will round the last number

In [24]:
print(round(5.5))
print(round(5.465))
print(round(5.465, 2))
print(round(5.466, 2))

6
5
5.46
5.47

* 7- range(start,end,step)

start ==> optional

end ==> mandatory and not included

step ==> by default is 1

In [29]:
print(list(range(0)))
print(list(range(10)))
print(list(range(0,10,2)))

[]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]

* 8- print()

In [49]:
print("hello osama")
print("hello","osama") # the same result like the above one
                    # comma in print means two messages
# default separator in print is space
# to change it we use sep
print("hello", "osama", "how", "are", "you", sep="/")

hello osama
hello osama
hello/osama/how/are/you

In [50]:
# using end in print
# by default end="\n"
print("ahmed", end="! &")
print("osama")

ahmed! &osama

## part 3

 * 9-abs() 

 space between number and zero

In [1]:
print(abs(100))
print(abs(-100))

100
100

 * 10-pow(base, exp, mod)

In [4]:
print(pow(2,2))
print(pow(2,2,2))

4
0

In [ ]:
print(pow(2,2))
print(pow(2,2,2))

* 11- min()

return the minimum element in iterator or items it also works on strings

In [8]:
x = list(range(23,50))
strings = ["z", "y", "Osama"] # name printed cause o is the min
print(min(strings))
print(min(x))

Osama
23

* 12- max()

return the maximum 

it is the opposite of the min()

In [9]:
# example
y = list(range(23,50))
print(max(y))

49

* 13- slice(start,end,step)

In [12]:
a = ["a", "b", "c", "d"]

print(a[:3])
print(a[slice(4)])
print(a[slice(1,4,2)])

['a', 'b', 'c']
['a', 'b', 'c', 'd']
['b', 'd']